# ==========================
#FASTAPI SETTINGS
# ==========================
ENV=dev
SECRET_KEY=CHANGE_ME
ACCESS_TOKEN_EXPIRE_MINUTES=120

# ==========================
# FIREBASE
# ==========================
# Usa una copia local llamada firebase_credentials.json
FIREBASE_CREDENTIALS_PATH=/app/firebase_credentials.json
FIREBASE_PROJECT_ID=CHANGE_ME

# ==========================
# SUPABASE
# ==========================
SUPABASE_URL=CHANGE_ME
SUPABASE_KEY=CHANGE_ME
SUPABASE_BUCKET=reportes

# ==========================
# RABBITMQ
# ==========================
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=sensor_ingest

# ==========================
# SPARK
# ==========================
SPARK_HOME=/opt/spark
