#FIREBASE
FIREBASE_CREDENTIALS=./firebase-service.json

#SUPABASE
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_KEY=service-xxxx

#RABBITMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

#JWT
JWT_SECRET=supersecretkey1234